@use "../../../sassStyles/variables" as v;
@use "../../../sassStyles/mixins" as m;

.cta-wrapper {
  margin-left: 0.75rem;
  margin-bottom: 5rem;

  @include m.mdMinBreakPoint {
    max-width: 39.375rem;
    margin-left: 5rem;
  }
}

.cta-description {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.register-btn {
  color: v.$primaryColor;
  height: 26px;
  width: 106px;
  background: v.$bluePrint;
  border-radius: 2px;
  font-size: 12px;

  @include m.mdMinBreakPoint {
    width: 18.875rem;
    height: 4rem;
    font-size: 1.125rem;
  }
}

.register-btn:hover {
  width: 106px;
  height: 26px;
  background: darken(v.$bluePrint, 8%);
  border-radius: 2px;
  font-size: 12px;

  @include m.mdMinBreakPoint {
    width: 18.875rem;
    height: 4rem;
    font-size: 1.125rem;
  }
}

.register-btn:focus {
  width: 106px;
  height: 26px;
  background: darken(v.$bluePrint, 20%);
  border-radius: 2px;
  font-size: 12px;

  @include m.mdMinBreakPoint {
    width: 18.875rem;
    height: 4rem;
    font-size: 1.125rem;
  }
}
