@use "../../../sassStyles/variables" as v;
@use "../../../sassStyles/mixins" as m;

.guest-list-container {
  background: v.$positionBackground;

  padding-bottom: 5rem;

  @include m.mdMinBreakPoint {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 5rem 3rem 5rem;
    column-gap: 1rem;
  }
}
