@use "../../../sassStyles/_variables" as v;
@use "../../../sassStyles/_mixins" as m;

/* beneath the fold styles */
.beneath-container {
  display: grid;
  grid-template-columns: 1fr;
  background: v.$bluePrint;
  padding-bottom: 4.75rem;

  @include m.mdMinBreakPoint {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 31.75rem;
    width: 100vw;
    gap: 1rem;
  }
}
.text-wrapper {
  width: 21.875rem;

  @include m.mdMinBreakPoint {
    width: 39.375rem;
    margin-top: 8.125rem;
  }
}

.text-fold1 {
  text-align: left;
  margin-left: 0.75rem;
  color: v.$shadeFive;

  @include m.mdMinBreakPoint {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}
.text-fold2 {
  text-align: left;
  margin-left: 0.75rem;
  color: v.$shadeFive;

  @include m.mdMinBreakPoint {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

.fold-image {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  @include m.mdMinBreakPoint {
    margin-top: 5rem;
    overflow-y: visible;
    width: 35.75rem;
    height: 31.25rem;
  }
}

img {
  height: 100%;
  max-width: 100%;
}
