@use "../../../sassStyles/variables" as v;
@use "../../../sassStyles//mixins" as m;
@use "../../../sassStyles//typography" as t;

.next-event-wrapper {
  display: flex;
  flex-direction: column;

  @include m.mdMinBreakPoint {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
  }
}

.next-event-title {
  text-align: center;
  color: v.$bluePrint;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  margin-top: 3rem;
  margin-bottom: 2rem;

  @include m.mdMinBreakPoint {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 157%;
  }
}

.next-event-subheader {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 167%;
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  color: v.$shadeTwo;

  @include m.mdMinBreakPoint {
    margin-left: 3rem;
  }
}

.image-summary-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.event-day {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  margin-left: 0.75rem;
  color: v.$bluePrint;

  @include m.mdMinBreakPoint {
    margin-left: 3rem;
  }
}

time {
  margin-left: 0.75rem;

  @include m.mdMinBreakPoint {
    margin-left: 3rem;
  }
}

.summary {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  margin-left: 0.75rem;
  font-size: 12px;
  line-height: 20px;
  color: v.$primaryDarkColor;
  margin-bottom: 5rem;

  @include m.mdMinBreakPoint {
    font-size: 16px;
    line-height: 22px;
    margin-top: 1.5rem;
    margin-left: 3rem;
  }
}

.image-wrapper {
  height: 100%;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}
