@use "../../../sassStyles/variables" as v;
@use "../../../sassStyles//mixins" as m;
@use "../../../sassStyles//typography" as t;

.next-event {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
}

.date-text-wrapper {
  display: flex;
}

h2 {
  text-align: center;
  color: #3c64b1;
}

h4 {
  margin-left: 3rem;
}

.event-day {
  margin-left: 3rem;
}

time {
  margin-left: 3rem;
}

.summary-wrapper {
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 1.5rem;
  margin-left: 3rem;
  color: v.$primaryDarkColor;
}
