/* 
This partial contains styling that overrides global elements, such as the #root or body elements. In our example it is also importing the _variable.scss file to reference a color. 
*/
@use './variables' as var;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arimo sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var.$primaryAccent;
  height: 100vh;
  min-height: 100%;
}

#root {
  height: 100%;
  max-width: 1400px;
}
