@use "../../../sassStyles/variables" as v;

.footer-title {
  margin-top: 85px;
  margin-bottom: 40px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: v.$shadeOne;
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 40px;
  margin-left: 5rem;
}
